@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.category-card {
    width: 100%;
    height: 300px;
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    cursor: pointer;
    position: relative; 
    height: auto;
}


.category-detail {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.category-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

.category-title {
    position: absolute;
    top: 230px;
    left: 0;
    width: 100%;
    text-align: left; 
    color: #fff;
    margin-left: 32px;
}


@media (max-width: 768px) {
    .category-img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 20px;
    }
    .category-icon {
        transform: translate(-30%, -320%);
        text-align: center;
    
    
    }
    
}